body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
   
    
}
h1{
    font-size: 50px;
}
.color{
    color: rgb(202, 90, 109);
}
.fexible{
    display: flex;
    margin-bottom: 150px;
}
.part1{
    width: 90%;
    padding-left:3% ;
}
img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    color:white;
    background-color: #4273cd;
    border-radius: 5px;

}
.link-button:hover{
    color:black;
}
.banner{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
    padding-left: 5%;
}

.page-2 img{
    width: 70%;
}
.page-2 .link-button-1{
    text-decoration: none;
    padding: 10px 40px;
    color:white;
    background-color: #42cd95;
    border-radius: 5px;
    
    
}
.page-2 .link-button-1:hover{
    color: black;

}

.photo{
    width: 60%;
    padding: 10px 40px;
}
.part2{
   width:50%;
   padding-right: 6%;
}
.page-2{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin: 0;
    padding:0;
}
.part3{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    padding-left: 20px;
    border-left: 7px solid palevioletred;


}
.part3 h2{
    font-size: 20px;
}
.experience{
    background-image: url(./images/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 7%;
}